.userTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin:auto;
}
.userTable td,th {
border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.userTable tr:nth-child(even){
    background-color: #dddddd;
}
@font-face {
  font-family: Movies;
  src: url(../../asset/Movies.ttf);
}
#fontFamily{
  font-family: Movies;
  margin-top: 2%;
}